<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBXTwxghR7jgo6B70xm9IfXILJinr5RZrk</string>
	<key>GCM_SENDER_ID</key>
	<string>76929705254</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.scrivia.scrivia</string>
	<key>PROJECT_ID</key>
	<string>scrivia-47b4a</string>
	<key>STORAGE_BUCKET</key>
	<string>scrivia-47b4a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:76929705254:ios:0f5947899b47fbc7750de7</string>
</dict>
</plist>